ul {
    list-style-type: circle; 
    padding-left: 20px; 
    margin-top: 10px; 
}

img {
    width: 100%; 
    height: auto; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    margin-top: 20px; 
    margin-bottom: 5%;
}

